body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: rgba(214, 184, 170, 0.346); */
  background-color: rgba(186, 154, 140, 0.47);

}
.contactList{
  list-style: none;
  padding: 0;
  margin-left: 19%;
  margin-top: 0;
  width: 55%;
  /* background-color: rgba(214, 184, 170, 0.346); */
  padding: 20px;


}
.mainHeading{
  background-color: rgb(120, 86, 70);
  display: flex;
  margin: 0;
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}
.mainHeading h1{
  width: 50%;
  text-align: right;
  margin-right: 17%;
}
.addContact{
  background-color: transparent;
  border: none;
}
.App{
  /* margin: 0; */
}
.contactListItem{
  background-color: rgb(214, 184, 170);
  border-radius: 60px;
  padding-left: 4%;
  color: rgba(203, 94, 44, 0.91);
  margin-bottom:10px;
  padding: 2%;
  padding-left: 5%;
}
.mainDiv{
  display: flex;
  width: 95%;
  /* text-align: center; */
}
.left{
width: 50%;
}
.right{
  width: 40%;
}
.right p{
  margin: 0;
}
.right p span{
  font-size: 1.2rem;
}
.contactName{
  margin: 0;
}
.contactuserName{
  margin: 0;
}
.Buttons {
  display: flex;
}
.Buttons button {
  border: none;
  padding: 0;
  background: transparent;

}
.showDescriptionButton {
margin-left: 10px;
margin-right: 5px;
height: fit-content;
}
.deleteContact{
  height: fit-content;
}
.EmailImg {
  vertical-align: bottom;
}
.EmailATag{
  padding-top: 2px;
}
.Description {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.location span {
  /* width: 20%; */
  /* margin-left: 4%; */
  display: inline-block;
  font-size: larger;
}
.location img {
  vertical-align: top;
}
.location{
  width: 30%;
}
.phoneNo {
  justify-self: right;
  float: right;
  margin-right: 4%;
  height: 40px;
}
.phoneNo img{
  vertical-align:text-top;
}

.phoneNo a {
  color: rgba(203, 94, 44, 0.91);

  text-decoration: none;
}
.rightDescription {
  margin-right: 5%;
}
.EditContact{
  border: none;
  background-color: transparent;
  color: rgba(203, 94, 44, 0.91);
  float: right;
}

/* Tooltip css */
.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px solid lightgray; /* If you want dots under the hoverable text */
}
.tooltip .tooltipText{
  min-width: 160px;
  /* width: fit-content; */
  background-color: rgb(118, 52, 22);
  color: white;
  text-align: center;
  padding: 3px 0;
  border-radius: 3px; 

  /* Position the tooltip text - see examples below! */ 
  position: absolute;  
  z-index: 1;
}


.tooltip-top{
  bottom: 60px;
  left: -120px;
  white-space:nowrap;
  right: unset;
}
.tooltip-top .tooltipText{
  height: 20px;
}
.tooltip-top:after{
  top: 25px;
  content: " ";
  display: block;
  position: absolute;
  left: 95px;
  border-color:rgb(118, 52, 22) transparent    transparent    transparent  ;
  border-style: solid;
  border-width: 8px;
 } 



.formAddContact form{
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-left: 20%;
}
.formAddContact form input{
  padding: 8px;
  border: none;
  margin-bottom: 4px;
}